<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품수정</title>
</head>

<body>
<div class="product-wrap">
  <h3>상품 수정</h3>
  <hr>
  <form action="" method="post" th:object="${form}">
    <div>
      <div><label for="">상품아이디</label><input type="text" readonly th:field="*{pid}"></div>
      <div><label for="">상품명</label><input type="text"  th:field="*{pname}"></div>
      <div><label for="">수량</label><input type="text"  th:field="*{count}"></div>
      <div><label for="">가격</label><input type="text" th:field="*{price}"></div>

      <div>
        <button type="submit">저장</button>
        <button type="button" id="cancelBtn">취소</button>
      </div>
    </div>
  </form>
</div>
<script th:inline="javascript">
      cancelBtn.addEventListener('click',e=>{
        console.log('취소');
        location.href = [[@{|/product/${form.pid}|}]];
      });
  </script>
</body>
</html>